<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Roombot</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.js"
            integrity="sha512-aPhrlLlp7Mr8g+MVw6/wMD8PjqqzRNhSM8pHDyyJPmUTJMzKxMmxrjauzQforOaAegN3CIKUTKXJyLwFD57RtA=="
            crossorigin="anonymous"></script>

</head>
<body>
    <div class="main">
        <img src="/utopia" alt="utopia" style="width: 89pc;height: 50pc;">
    </div>

    <div class="feature_1" style="position: relative;top: 19pc;transform: skewY(10deg);left: 20pc;">
        <img src="/futuristic" alt="futuristicway">

    </div>

    <div class="d01" style="position: relative;width: 6pc;left: 11pc;color: darkslategray;">
        <section>
            <h3> TranslationPrompt </h3>
            <p>
                TranslationPrompt translate your words into poems
            </p>
        </section>
        <div class="d02" style="position: absolute;left: 42pc;top: 11pc;font-size: large;">
            <span style="position: absolute;top: -8pc;color: slategray;">
                    2x Fast Response time
                </span>
            <span style="position: absolute;top: -2pc;color: slategray;">
                    Generative poem composition  
                </span>
            <span style="position: absolute;top: 6pc;color: slategray;">
                    Poem are not mere words but a connection to soul.
                </span>
            <a href="/translation" title="Translation" style="position: absolute;left: -19pc;top: 6pc;color: darkslategrey;font-size: xxx-large;">
                <i class="fa fa-language" aria-hidden="true"></i>
            </a>

        </div>
    </div>

    <div class="feature_2" style="position: relative;top: 18pc;left: 22pc;color: darkslategrey;">
        <h3>
            All your favourite content is just one touch away.
        </h3>
        <span style="position: absolute;left: 1pc;width: 9pc;"> High Quantity Aesthetic content for you </span>
        <a href="/user/imovies" title="content" style="position: absolute;top: 5pc;left: 9pc;font-size: xxx-large;color: darkslategray;">
            <i class="fa fa-wifi" aria-hidden="true"></i>
        </a>
        <span style="position: absolute;top: 7pc;left: 13pc;width: 8pc;">
            Have power to unlock magic .. 
        </span>
    </div>

    <div class="lighting" style="position: relative;top: 32pc;left: 26pc;width: 16pc;">
        <h4> Transactions are wirless connection </h4>
        <i class="fa fa-bolt" aria-hidden="true" style="position: relative;left: 6pc;font-size: xxx-large;color: darkslategray;top: 3pc;"></i>
        <span style="position: absolute;top: 4pc;left: -1pc;width: 7pc;">
            Simple, Affordable and Secure
        </span>
        <span style="position: absolute;top: 8pc;left: 9pc;">
            Make transaction with the speed of lighting bolt.
        </span>
    </div>

    <div class="socialmedia" style="position: relative;left: 60pc;top: 14pc;">
        <h3 style="position: absolute;left: 5pc;top: -5pc;color: darkslategray;">
            Success Stories ...
        </h3>
        <a href="https://www.facebook.com/WisdomEnigma">
            <i class="fa fa-facebook-official" aria-hidden="true" style="position: absolute;color: darkslategrey;font-size: xx-large;"></i>
        </a>

        <a href="https://www.linkedin.com/company/wisdom-enigma?trk=public_profile_experience-item_profile-section-card_subtitle-click">
            <i class="fa fa-linkedin-square" aria-hidden="true" style="position: absolute;color: darkslategrey;font-size: xx-large;left: 20pc;"></i>
        </a>

        <a href="https://www.instagram.com/wisdomenigma/">
            <i class="fa fa-instagram" aria-hidden="true" style="position: absolute;color: darkslategrey;font-size: xx-large;left: 10pc;top: 1pc;"></i>
        </a>

        <a href="https://www.twitter.com/DwarfWiz">
            <i class="fa fa-twitter" aria-hidden="true" style="position: absolute;color: darkslategrey;font-size: xx-large;left: 0pc;top: 6pc;"></i>
        </a>

        <a href="https://www.pinterest.com/Engima00/">
            <i class="fa fa-pinterest-p" aria-hidden="true" style="position: absolute;color: darkslategrey;font-size: xx-large;left: 10pc;top: 6pc;"></i>
        </a>

        <a href="https://github.com/WisdomEnigma">
            <i class="fa fa-github" aria-hidden="true" style="position: absolute;color: darkslategrey;font-size: xx-large;left: 20pc;top: 6pc;"></i>
        </a>

    </div>

    <div class="feature_3" style="position: relative;top: 25pc;left: 58pc;color: darkslategrey;">
    
        <h3 style="position: relative; left: 8pc;">
            SocialLink!
        </h3>
        <a href="/user/sociallink" title="sociallink" style="position: absolute;top: 5pc;left: 9pc;font-size: xxx-large;color: darkslategray;">
            <i class="fa fa-link" aria-hidden="true"></i>
        </a>
        <span style="position: absolute;top: 6pc;left: 13pc;width: 8pc;">
            Authenicate your socialinks
        </span>
    </div>

    <!-- <div class="feature_3" style="position: relative;top: 18pc;left: 22pc;color: darkslategrey;">
        <h3>
            First time Users create Biometric Account
        </h3>
        <span style="position: absolute;left: 1pc;width: 9pc;"> Register Your Face and be a part of community  </span>
        <a href="/user/register" title="Registration" style="position: absolute;top: 5pc;left: 9pc;font-size: xxx-large;color: darkslategray;">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
        </a>
        <span style="position: absolute;top: 6pc;left: 13pc;width: 8pc;">
            Unlock by your Face
        </span>
    </div> -->


    <div class="ip" style="position: relative;top: 39pc;left: 44pc;color: darkslategrey;font-variant-east-asian: ruby;font-family: monospace;">
        <h1>WISDOMENIGMA-INC</h1>
    </div>

</body>
</html>