<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Roombot</title>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.js"
            integrity="sha512-aPhrlLlp7Mr8g+MVw6/wMD8PjqqzRNhSM8pHDyyJPmUTJMzKxMmxrjauzQforOaAegN3CIKUTKXJyLwFD57RtA=="
            crossorigin="anonymous"></script>

</head>
<body>
    <div class="container" style="position: relative;top: 13pc;left: 48pc;font-size: xx-large;color: slategray;">
        <!-- <img src="{{image}}" alt="Avatar not found" style="border-radius: 54px;"> -->
        <span style="position: relative;top: 5pc;left: -12pc;color: slategray;font-size: x-large;">
            {{compress}}
        </span>
        <span style="position: relative;top: 2pc;left: -22pc;font-size: medium;">
            Your Account unlocked ... <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
        </span>
        
    </div>
</body>
</html>