<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.19.1/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Roombot</title>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.19.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.19.1/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.js"
            integrity="sha512-aPhrlLlp7Mr8g+MVw6/wMD8PjqqzRNhSM8pHDyyJPmUTJMzKxMmxrjauzQforOaAegN3CIKUTKXJyLwFD57RtA=="
            crossorigin="anonymous"></script>

</head>
<body>
    <a href="/" style="position: relative;left: 40pc;top: 3.9pc;color: black;"><span class="uk-margin-small-right" uk-icon="icon: home"></span></a>
    <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-nav-primary" style="position: relative;top: 4pc;left: 48pc;border: none;">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>

<div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">
        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            <i class="fa fa-at" aria-hidden="true" style="position: relative;top: -9pc;color: whitesmoke;font-size: larger;"></i>
            <span style="position: relative;top: -9pc;left: 1pc;"> {{session}}</span>
            <li class="uk-active"><a href="#"> Have you notice we both have deep connection? </a></li>
            <li class="uk-nav-header">Header</li>
            <li class="uk-nav-divider"></li>
            <li><a href="/user/sociallink" title="profile"><span class="uk-margin-small-right" uk-icon="icon: user"></span> Profile <span class="uk-badge"> new </span> </a> </li>
            <li><a href="/user/sociallink/profile/search" title="profile search"><span class="uk-margin-small-right" uk-icon="icon: search"></span> Search <span class="uk-badge"> new </span> </a> </li>
        </ul>
    </div>
</div>
<div class="uk-container" style="position: relative;top: 10pc;width: 26pc;left: 6pc;">
    <form method="post" action="/user/sociallink/profile/search/{your}/{friend}">
        <input class="uk-input" type="text" placeholder="Search your peer" name="query" style="border: 1px silver dashed; border-radius: 2pc;"/>
        <p class="uk-text-right" style="position: relative;top: 5pc;left: -11pc;">
            <button class="uk-button uk-button-primary" type="submit" style="position: relative; top: -5pc; border-radius: 2pc;">
                <i class="fa fa-send" aria-hidden="true"></i>
            </button>
        </p>
    </form>
    <div class="uk-container" style="position: relative;top: 2pc;">
        <div class="uk-inline">
            <button type="button" id="_b01" style="border: none; background:  transparent;">
                <span class="uk-button uk-button-dark" uk-icon="icon:user"><span class="uk-badge">{{counter}}</span>
            </button>
            <div uk-dropdown="mode: click" id="_dp01" style="border-radius: 2pc;">
                
                {{#with name}}
                <span class="_s0">{{0}} </span>
                {{/with}}   
                
                <button type="button" id="reset0" style="border: none;background:  transparent;position: relative;left: 3pc;">
                    <span class="uk-button uk-button-dark" uk-icon="icon:trash"></span>
                </button>
                <div class="uk-container" id="_a0" style="position: relative;top: 2pc;width: 12pc; visibility: visible;">
                    <form action="/user/sociallink/profile/search/{your}/{friend}/{follow}" method="post">
                        <button type="submit" style="border : none; background : transparent; position: relative; left: -2pc;top : -1.4pc">
                            <span class="uk-button uk-button-dark" uk-icon="icon:star" title="follow"></span>
                        </button> 
                        <div class="uk-badge" style="position: relative;top : -0.5pc; left : -4.5pc"> {{follower}} </div>
                    </form>
                    <form action="/user/sociallink/profile/search/{your}/{friend}/{mark}/{favourite}" method="post">
                        <button type="submit" style="border : none; background : transparent; position: relative; left: 2pc; top : -1.5pc">
                            <span class="uk-button uk-button-default" uk-icon="icon:heart" title="close" style="position: relative;top: -2.3pc;left: 5pc;border: none;"></span>
                        </button>
                        <div class="uk-badge" style="position: relative;top : -3pc; left : 4.5pc"> {{leads}} </div>
                    </form>      
                </div>
            </div>
            <button type="button" style="border: none; background: transparent; color : darkslategrey; position: relative; left : -3pc">
                <span class="uk-button uk-button-dark" uk-icon="icon:social"> connection </span>
            </button>
            <div uk-dropdown="mode: click" id="_dp01" style="border-radius: 2pc; height: 5pc; width : 25pc">
                <div>
                    <a href="{{fblink}}" alt="search user facebook account">
                        <span class="uk-button uk-button-dark" uk-icon="icon:facebook"></span>
                    </a>
                </div>
                <div style="position: relative; top : -2.4pc; left : 2.7pc">
                    <a href="{{instalink}}" alt="search user instagram account">
                        <span class="uk-button uk-button-dark" uk-icon="icon:instagram" style="color: darkslategray;"></span>
                    </a>
                </div>
                <div style="position: relative; top : -4.7pc; left : 5.5pc">
                    <a href="{{xlink}}" alt="search user x account">
                        <span class="uk-button uk-button-dark" uk-icon="icon:x" style="color: darkslategray;"></span>
                    </a>
                </div>
                <div style="position: relative; top : -7pc; left : 8.5pc">
                    <a href="{{youlink}}" alt="search user youtube account">
                        <span class="uk-button uk-button-dark" uk-icon="icon:youtube" style="color: darkslategray;"></span>
                    </a>
                </div>
                <div style="position: relative; top : -9.5pc; left : 11.5pc">
                    <a href="{{threads}}" alt="search user thread account">
                        <span class="uk-button uk-button-dark" uk-icon="icon:threads" style="color: darkslategray;"></span>
                    </a>
                </div>
                <div style="position: relative; top : -11.8pc; left : 14.5pc">
                    <a href="{{mastodon}}" alt="search user mastodon account">
                        <span class="uk-button uk-button-dark" uk-icon="icon:mastodon" style="color: darkslategray;"></span>
                    </a>
                </div>
                <div style="position: relative; top : -14.3pc; left : 17.5pc">
                    <a href="{{web}}" alt="search user website url">
                        <span class="uk-button uk-button-dark" uk-icon="icon:world" style="color: darkslategray;"></span>
                    </a>
                </div>
            </div>
            <button type="button" style="border: none; background: transparent; color : darkslategrey; position: relative; left : 19pc; top : -2.5pc">
                <span class="uk-button uk-button-dark" uk-icon="icon: quote-right"> bio </span>
            </button>
             <div uk-dropdown="mode: click" id="_dp01" style="border-radius: 2pc; height: 15pc; width : 20pc">
                <div style="position: relative; top: 12pc;left: 13pc;">
                    <span style="color: silver;">{{bio_char}}/200</span>
                </div>
                <div>
                    <article> {{bio}} </article>
                </div>
                <div>
                    <div style="position: relative; top: -2pc;left: 13.5pc;">
                        <form action="/user/sociallink/profile/search/{your}/{friend}/{update}/mybio/{appricate}" method="post">
                            <button type="submit" style="border : none; background : transparent;">
                                <span class="uk-button uk-button-dark" uk-icon="icon: happy" style="color: darkslategray;"></span>
                            </button>
                        </form>
                    </div>
                    <div style="position: relative; top: -1pc;left: 13.5pc;">
                        <form action="/user/sociallink/profile/search/{your}/{friend}/{update}/mybio/{pinpoint}/true" method="post">
                            <button type="submit" style="border : none; background : transparent;">
                                <span class="uk-button uk-button-dark" uk-icon="icon: question" style="color: darkslategray;"></span>
                            </button>
                        </form>
                    </div>
                </div>
             </div>
             <button type="button" style="border: none; background: transparent; color : darkslategrey; position: relative; left : 19pc; top : -2.5pc">
                <span class="uk-button uk-button-dark" uk-icon="icon: more"></span>
            </button>
            <div uk-dropdown="mode: click" id="_dp01" style="border-radius: 2pc; height: 10pc; width : 20pc">
                 <div>
                    <div style="position: relative; top: 0pc;left: 0pc;">
                        <span class="uk-button uk-button-dark" uk-icon="icon: file-pdf" style="color: darkslategray;"></span> <span class="uk-badge" style="position: relative; top: 3pc; left : -3.2pc; background: green;">{{books}}</span>
                    </div>
                    <div style="position: relative; top: -2.4pc;left: 3pc;">
                        <span class="uk-button uk-button-dark" uk-icon="icon: location" style="color: darkslategray;"></span> <span class="uk-badge" style="position: relative; top: 3pc; left : -3.2pc; background: green;">{{place}}</span>
                    </div>
                    <div style="position: relative; top: -4.7pc;left: 6pc;">
                        <span class="uk-button uk-button-dark" uk-icon="icon: tv" style="color: darkslategray;"></span> <span class="uk-badge" style="position: relative; top: 3pc; left : -3.2pc; background: green;">{{brand}}</span>
                    </div>
                    <div style="position: relative; top: -7pc;left: 9pc;">
                        <span class="uk-button uk-button-dark" uk-icon="icon: cart" style="color: darkslategray;"></span> <span class="uk-badge" style="position: relative; top: 3pc; left : -3.2pc; background: green;">{{movies}}</span>
                    </div>
                 </div>
            </div>
            <button type="button" style="border: none; background: transparent; color : darkslategrey; position: relative; left : -8pc; top : 0pc">
                <span class="uk-button uk-button-dark" uk-icon="icon: user"> character </span>
            </button>
             <div uk-dropdown="mode: click" id="_dp01" style="border-radius: 2pc; height: 25pc; width : 20pc">
                <ul uk-tab>
                    <li class="uk-active">
                        <button type="button" id="_dp02" style="border: none; background: transparent;">
                            <span class="uk-button uk-button-dark" uk-icon="icon: pencil"> edit </span>
                        </button>
                        <div id="editform" style="position: relative; left : 1pc; width: 5pc; visibility: hidden;">
                            <form action="/user/sociallink/profile/search/{your}/{friend}/{update}/character/{reflection}" method="post">
                                <span class="uk-label" style="background: transparent;color : darkslategray">Trait # 1</span>
                                <input type="text" name="p1" placeholder="add any quantity he/ she have?" style="position: relative; top : 0.1pc; left: 1pc; border-radius: 1pc;">
                                <span class="uk-label" style="background: transparent; color : darkslategray">Trait # 2</span>
                                <input type="text" name="p2" placeholder="add any quantity he/ she have?" style="position: relative; top : 0.1pc; left : 1pc; border-radius: 1pc;">
                                <span class="uk-label" style="background: transparent; color : darkslategray">Trait # 3</span>
                                <input type="text" name="p3" placeholder="add any quantity he/ she have?" style="position: relative; top : 0.1pc; left: 1pc; border-radius: 1pc;">
                                <span class="uk-label" style="background: transparent; color : darkslategray">Trait # 4</span>
                                <input type="text" name="p4" placeholder="add any quantity he/ she have?" style="position: relative; top : 0.1pc; left: 1pc; border-radius: 1pc;">
                                <span class="uk-label" style="background: transparent; color : darkslategray">Trait # 5</span>
                                <input type="text" name="p5" placeholder="add any quantity he/ she have?" style="position: relative; top : 0.1pc; left: 1pc; border-radius: 1pc;">
                                <button type="submit" style="border: none; background: transparent;">
                                    <span class="uk-button uk-button-dark"> submit </span>
                                </button>
                                <button type="reset" style="border: none; background: transparent; position: relative; top : -2.5pc; left : 5pc">
                                    <span class="uk-button uk-button-dark"> cancel </span>
                                </button>
                            </form>
                        </div>
                    </li>
                    <li class="uk-tab">
                        <button type="button" id="_dp03" style="border: none; background: transparent; position: relative; top : -22.5pc; left : 7pc">
                            <span class="uk-button uk-button-dark" uk-icon="icon: users"> traits </span>
                        </button>
                        {{#with personality}}
                        <div id="traits" style="visibility: visible;">
                            <span style="position: relative; top : -19pc; left: -4pc;">    {{0}} </span>
                            <span style="position: relative; top : -17pc; left: -6.5pc;">  {{1}} </span>
                            <span style="position: relative; top : -15pc; left: -9.5pc;"> {{2}} </span>
                            <span style="position: relative; top : -13pc; left: -14pc;"> {{3}} </span>
                            <span style="position: relative; top : -11pc; left: -17pc;"> {{4}} </span>   
                        </div>
                        {{/with}}
                    </li>
                </ul>
             </div>
             <button type="button" style="border: none; background: transparent; color : darkslategrey; position: relative; left : 15pc; top : -2.5pc">
                <span class="uk-button uk-button-dark" uk-icon="icon: users"> friends </span>
            </button>
             <div uk-dropdown="mode: click" id="_dp01" style="border-radius: 2pc; height: 25pc; width : 20pc">
                <span style="position: relative; top : 1pc; left: 1pc;"> Ahmad </span>
                <span style="position: relative; top : 3pc; left: -2pc;"> Asif </span>
                <span style="position: relative; top : 5pc; left: -4pc;"> Alkarm </span>
            </div>
        </div>
    </div>
</div>

<script>

    document.getElementById('reset0').addEventListener('click', (e)=>{
        
        document.getElementsByClassName('_s0')[0].innerHTML = '';
        document.getElementById('reset0').style.visibility = 'hidden';
        document.getElementById('_a0').style.visibility = 'hidden';
        document.getElementById('_dp01').style.height = '5pc';
        document.getElementById('warns').style.position = 'relative';
        document.getElementById('warns').style.top = '-15pc';
        document.getElementById('warns').style.visibility = 'visible';
        document.getElementById('_b01').children[0].innerHTML = '0';
    });

    document.getElementById('_dp02').addEventListener('click', (e)=> {

        if (document.getElementById('editform').style.visibility === 'hidden'){

            document.getElementById('editform').style.visibility = 'visible';
        }else{

            document.getElementById('editform').style.visibility = 'hidden';
        }
    })

    document.getElementById('_dp03').addEventListener('click', (e)=> {

        if (document.getElementById('traits').style.visibility === 'hidden'){

            document.getElementById('traits').style.visibility = 'visible';
        }else{

            document.getElementById('traits').style.visibility = 'hidden';
        }
    })


    document.getElementById('reset1').addEventListener('click', (e)=>{
        
        document.getElementsByClassName('_s1')[0].innerHTML = '';
        document.getElementById('reset1').style.visibility = 'hidden';
        document.getElementById('_a1').style.visibility = 'hidden';
        document.getElementById('_dp01').style.height = '5pc';
        document.getElementById('warns').style.position = 'relative';
        document.getElementById('warns').style.top = '-5pc';
        document.getElementById('warns').style.visibility = 'visible';
        document.getElementById('_b01').children[0].innerHTML = '0';
    });

    if (document.getElementById('_b01').children[0].innerHTML === 2){

        document.getElementsByClassName('_a1')[0].style.visibility = 'visible';
        document.getElementById('reset1').style.visibility = 'visible';
    } 


</script>


</body>
</html>
