<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine"/>
    <title>Roombot</title>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.js"
            integrity="sha512-aPhrlLlp7Mr8g+MVw6/wMD8PjqqzRNhSM8pHDyyJPmUTJMzKxMmxrjauzQforOaAegN3CIKUTKXJyLwFD57RtA=="
            crossorigin="anonymous"></script>

</head>
<body>

    <a href="/" style="position: relative;left: 40pc;top: 3.9pc;color: black;"><span class="uk-margin-small-right" uk-icon="icon: home"></span></a>
    <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-nav-primary" style="position: relative;top: 4pc;left: 48pc;border: none;">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>

    <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            <i class="fa fa-user-circle" aria-hidden="true" style="position: relative;top: -9pc;color: whitesmoke;font-size: larger;"></i>
                    <span style="position: relative;top: -9pc;left: 1pc;"> @{{session}}</span>
            <li class="uk-active"><a href="#"> Keep on dreaming even if it break your heart! </a></li>
            <li class="uk-nav-header">Header</li>
            <li class="uk-nav-divider"></li>
            <li><a href="/user/my/playlist"><span class="uk-margin-small-right" uk-icon="icon: play-circle"></span> Music </a></li>
            <li><a href="/user/library"><span class="uk-margin-small-right" uk-icon="icon: play"></span> Collection </a></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: heart"></span> <span class="uk-badge"> {{favourite_count}}</span></a></li> 
            <div class="uk-inline"><span class="uk-badge"> {{user_comments}}</span></a></li>
                <button type="button" style="border: none; background: transparent; color: whitesmoke;">
                    <span class="uk-margin-small-right" uk-icon="icon: comment"></span>
                </button>
                <div uk-dropdown="mode: click" style="border-radius: 2pc;">
                    <p>
                       <span style="font-size: x-small;position: relative;top: 19px;"> {{comment}} </span>
                       <div class="_a004" style="position: relative;top: 0pc;">
                            <form method="post" action="/me/comments/likes" class="_a003">
                                <button type="submit" style="position: relative;left: -2pc;top: -35px;border: none;background: transparent;color: red;">
                                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                </button>
                                <span class="uk-badge" style="position: relative;left: -1pc;top: -2px;font-size: x-small;background: red;">{{comment_like_count}}</span>
                            </form>
                        </div> 
                    </p>
                </div>
            </div>
        </ul>
    </div>
</div>

    <div class="container" style="position: relative;top: 11pc;left: 39pc;">
        <canvas id="confetti"></canvas>
        <h6 style="font-family: Tangerine,serif;font-size: xx-large;color: darkslategray;position: inherit;top: -4pc;"> The real magic is two heart beat at one note </h6>
        <div class="spheader" style="position: relative;top: -4pc;left: 3pc;font-family: 'Tangerine';font-size: xx-large;">
            <h5>{{name}} {{pmusic_artist}}</h5>
        </div>
        <div class="spbody">
            <img src="https://beige-aggressive-bird-900.mypinata.cloud/ipfs/{{pmusic_ilink}}" alt="cover_image" style="position: relative;width : 20pc;"/>
                <audio controls autoplay style="position: relative;top: 27pc;left: -19pc;width: 26pc;">
                    <source src="https://beige-aggressive-bird-900.mypinata.cloud/ipfs/{{pmusic_mlink}}" type="audio/mpeg">
                    <source src="https://beige-aggressive-bird-900.mypinata.cloud/ipfs/{{pmusic_mlink}}" type="audio/wav">
                </audio>
            <div>
               <p style="word-spacing: 5pc;position: relative;top: 9.2px;">{{pmusic_compose}} {{pmusic_lyric}} {{pnumic_production}} </p>
               <span class="plink" oncopy=clipboard()>
                    {{pmusic_mlink}}
               </span>
               <span class="copylink" style="position: relative;top: 3pc;font-style: italic;font-family: 'Tangerine';font-size: x-large;left: -26pc;">
               </span>
               <form action="/me/like" method="post"> 
                    
                {{#if favourite}}
                    <button type="submit" class="likebtn" style="border: none;background: transparent;position: relative;left: 8pc;top: 3pc;color: red;">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                {{else}}
                    <button type="submit" class="likebtn" style="border: none;background: transparent;position: relative;left: 8pc;top: 3pc;color: darkslategrey;">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </button>
                {{/if}}
               </form>
            </div>
        </div>
    </div>
    <div class="_a001" style="position: relative;top: 12pc;left: 41pc;">
        
        <button class="btn-link" type="button" style="position: relative;left: 12pc;top: 9px;border: none;background: transparent;color: slategrey;">
            <i class="fa fa-link" aria-hidden="true"></i>
        </button>
        <form method="post" action="/me/comment" class="_a002" style="display: none;">
            <input type="text" placeholder="typing ..." class="icomment" name="icomment" style="width: 30pc;height: 2pc;border: none;position: relative;top: 5pc;left: 2pc;"/>
            <button type="submit" style="position: relative;left: -5pc;top: 79px;border: none;background: transparent;color: slategrey;">
                <i class="fa fa-commenting" aria-hidden="true"></i>
            </button>
        </form>
    </div> 
    <section style="position: relative;width: 18pc;left: 8pc;height: 10pc;font-size: xx-large;top: -11pc;">
        <div class="mood" style="display: flex;align-items: center;justify-content: center;position: inherit;/* top: -88pc; */left: 7pc;/* height: 6vh; */">
            <span class="emotion">{{emotion}}</span>
                <i class="fa fa-frown-o" aria-hidden="true" style="display: none;"></i>
                <i class="fa fa-fire" aria-hidden="true" style="display: none;"></i>
                <i class="fa fa-heart" aria-hidden="true" style="display: none;"></i>
                <i class="fa fa-gift" aria-hidden="true" style="display: none;"></i>
                <i class="fa fa-snownflake" aria-hidden="true" style="display: none;"></i>

<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 123 94.09" style="width: 300px;">
    <defs>
      <style>
        .cls-1 {
          fill: #2c51a3;
        }
  
        .cls-2 {
          fill: #faaf4c;
        }
  
        .cls-3 {
          fill: #f16279;
        }
  
        .cls-4 {
          fill: #78c8aa;
        }
  
        .cls-5 {
          fill: none;
          stroke-width: 6px;
        }
  
        .cls-5, .cls-6 {
          stroke: #000;
          stroke-linecap: round;
          stroke-miterlimit: 10;
        }
        
        .mask {        
          fill: black;
          stroke: white;
          stroke-width: 5px;
        }
        
        #squiggle-mask-path {
          stroke-dasharray: 80;
          stroke-dashoffset: 80;
          animation: animate-stroke 1s 1.1s forwards cubic-bezier(0,1,.53,1);
        }
        
        #left-line-mask-path {
          stroke-dasharray: 38;
          stroke-dashoffset: -38;
          animation: animate-stroke 1s 1.2s forwards cubic-bezier(0,1,.53,1);
        }
        
        #right-line-mask-path {
          stroke-dasharray: 38;
          stroke-dashoffset: -38;
          animation: animate-stroke 1s 1.2s forwards cubic-bezier(0,1,.53,1);
        }
        
        @keyframes animate-stroke {
          100% {
            stroke-dashoffset: 0;
          }
        }
        
        
        #mint-burst {
          transform: translateY(70px);
          animation: move-stars 1s 1s forwards cubic-bezier(0,1,.53,1);
        }
        
        #yellow-burst {
          transform: translate(40px, 10px);
          animation: move-stars 1s 1s forwards cubic-bezier(0,1,.53,1);
        }
        
        #red-burst {
          transform: translate(-40px, 10px);
          animation: move-stars 1s 1s forwards cubic-bezier(0,1,.53,1);
        }
              
        #blue-star {
          transform: translate(10px, 40px);
          animation: move-stars 1s 1025ms forwards cubic-bezier(0,1,.53,1);
          display: inherit;
        }
        
        #yellow-star {
          transform: translate(-10px, 45px);
          animation: move-stars 1s 1050ms forwards cubic-bezier(0,1,.53,1);
        }
        
        @keyframes move-stars {
          100% {
            transform: translateY(0);
          }
        }
  
        .dot {
          animation: reveal-dots 0.9s 1.2s both cubic-bezier(0,1,.53,1);
          opacity: 0;
          transform: translate(-5px, 10px);
          
        }
        
        .dot.left-side {
          transform: translate(5px, 10px);
        }
        
        @keyframes reveal-dots {
          100% {
            opacity: 1;
            transform: translate(0, 0);
          }
        }
      </style>
     <mask id="squiggle-mask" maskunits="userSpaceOnUse"
                maskcontentunits="userSpaceOnUse">
       <path id="squiggle-mask-path" class="cls-5 mask" d="M56.26,90.4c-.7-3,10.21-7,10.4-11.46.63-3.89-11.14-7.69-9.57-11.62C59.22,62,67.43,60.8,66.86,55.4s-10-6.59-9.48-10.63c.3-2.59,5.8-5.38,9-8.33a5.79,5.79,0,0,0,1.91-3.54" transform="translate(-2.7 -2.61)"/>
      </mask>
      
      <mask id="left-line-mask" maskunits="userSpaceOnUse" maskcontentunits="userSpaceOnUse">
        <path id="left-line-mask-path" class="cls-6 mask" d="M25.78,62.5s18.38,14.73,15.9,30.91" transform="translate(-2.7 -2.61)"/>
      </mask>
      
      <mask id="right-line-mask" maskunits="userSpaceOnUse" maskcontentunits="userSpaceOnUse">
        <path id="right-line-mask-path" class="cls-6 mask" d="M95.12,64.5S78.32,73.83,76.8,94.2" transform="translate(-2.7 -2.61)"/>
      </mask>
    </defs>
    <path id="blue-star" class="cls-1" d="M33.3,51.8a2,2,0,0,0,2-.7l3-3.9,4.9.3a2.38,2.38,0,0,0,1.2-.3,1.34,1.34,0,0,0,.6-.7,2,2,0,0,0-.1-2.1l-2.8-4,1.8-4.6a2,2,0,0,0-.4-2.1,1.92,1.92,0,0,0-2-.6l-4.7,1.4L33,31.3a2,2,0,0,0-2.1-.3,2.15,2.15,0,0,0-1.2,1.8l-.1,4.9-4.1,2.7h0a2,2,0,0,0-.9,1.9A2.1,2.1,0,0,0,25.9,44l4.6,1.6,1.3,4.7A2.07,2.07,0,0,0,33.3,51.8Z" transform="translate(-2.7 -2.61)"/>
    <path id="yellow-star" class="cls-2" d="M91,32.9l-1.7-4.6A2.1,2.1,0,0,0,87.6,27a2,2,0,0,0-1.9.9L83.2,32l-4.9.2h0a2,2,0,0,0-1.7,1.2,2,2,0,0,0,.3,2.1L80,39.3,78.7,44a1.92,1.92,0,0,0,.6,2,2,2,0,0,0,2.1.4L86,44.6l4.1,2.7a1.8,1.8,0,0,0,1.2.3,1.61,1.61,0,0,0,.9-.3,1.89,1.89,0,0,0,1-1.9l-.3-4.9,3.9-3a1.91,1.91,0,0,0,.7-2A2.07,2.07,0,0,0,96,34Z" transform="translate(-2.7 -2.61)"/>
    <path id="yellow-burst" class="cls-2" d="M16.1,83.8a2,2,0,0,0,2.5-1.4l.7-2.4,1.8,1.8A2,2,0,1,0,24,79.1l-1.8-1.8,2.5-.6a2,2,0,1,0-.9-3.9l-2.5.6L22,71a2,2,0,1,0-3.9-1.1l-.7,2.4-1.8-1.8a2,2,0,0,0-2.9,2.7L14.5,75l-2.5.6a2,2,0,0,0,.9,3.9l2.5-.6-.7,2.4A2,2,0,0,0,16.1,83.8Z" transform="translate(-2.7 -2.61)"/>
    <path id="red-burst" class="cls-3" d="M108.8,67.4a2,2,0,0,0-2.5,1.4l-.7,2.4-1.8-1.8a2,2,0,1,0-2.9,2.7l1.8,1.8-2.5.6a2,2,0,0,0,.9,3.9l2.5-.6-.7,2.4a2,2,0,0,0,3.9,1.1l.7-2.4,1.8,1.8a2,2,0,1,0,2.9-2.7l-1.8-1.8,2.5-.6a2,2,0,1,0-.9-3.9l-2.5.6.7-2.4A2.17,2.17,0,0,0,108.8,67.4Z" transform="translate(-2.7 -2.61)"/>
    <path id="mint-burst" class="cls-4" d="M69.5,7,67,7.6l.7-2.4a2,2,0,0,0-1.4-2.5A1.84,1.84,0,0,0,63.9,4l-.7,2.4L61.4,4.6a2,2,0,0,0-2.8-.1,2,2,0,0,0-.1,2.8l1.8,1.8-2.5.6a2,2,0,0,0-1.5,2.4,2,2,0,0,0,2.4,1.5l2.5-.6-.7,2.4a2,2,0,0,0,3.9,1.1l.7-2.4,1.8,1.8a2,2,0,1,0,2.9-2.7L68,11.5l2.5-.6A2,2,0,0,0,72,8.5,2.06,2.06,0,0,0,69.5,7Z" transform="translate(-2.7 -2.61)"/>  
    <g id="squiggle" mask="url(#squiggle-mask)">
      <path class="cls-1" d="M56.3,92.3a2.09,2.09,0,0,0,2.1-2c0-1.6,1.6-2.5,4.1-3.8a18.17,18.17,0,0,0,4.1-2.7,6.44,6.44,0,0,0,2.1-4.6c.1-4-3.2-6-5.8-7.6-2.4-1.5-3.9-2.4-3.9-4s1.6-2.5,4.1-3.8c2.7-1.5,6.1-3.3,6.2-7.3s-3.2-6-5.8-7.6c-2.4-1.5-3.9-2.4-3.9-4s1.6-2.5,4.1-3.8c2.7-1.5,6.1-3.3,6.2-7.3a2.05,2.05,0,0,0-4.1-.1c0,1.6-1.6,2.5-4.1,3.8-2.7,1.5-6.1,3.3-6.2,7.3s3.2,6,5.8,7.6c2.4,1.5,3.9,2.4,3.9,4s-1.6,2.5-4.1,3.8c-2.7,1.5-6.1,3.3-6.2,7.3s3.2,6,5.8,7.6c2.4,1.5,3.9,2.4,3.9,4s-1.6,2.5-4.1,3.8c-2.7,1.5-6.1,3.3-6.2,7.3A2,2,0,0,0,56.3,92.3Z" transform="translate(-2.7 -2.61)"/>
    </g>
    <g id="right-line" mask="url(#right-line-mask)">
      <path class="cls-1" d="M94.7,64.5a2,2,0,0,0-2.8-.4c-15.9,11.6-17,27.4-17,28a2,2,0,0,0,1.9,2.1,2.46,2.46,0,0,0,1.5-.5,1.61,1.61,0,0,0,.6-1.3c0-.1,1-14.6,15.4-25A2.07,2.07,0,0,0,94.7,64.5Z" transform="translate(-2.7 -2.61)"/>
    </g>
    <g id="left-line" mask="url(#left-line-mask)">
      <path class="cls-1" d="M35.8,73.3l.2-.2a2,2,0,0,0,.2-2.6A43.54,43.54,0,0,0,29.4,63a1.94,1.94,0,0,0-2.8.2,2,2,0,0,0,.2,2.8A44.29,44.29,0,0,1,33,72.8,2,2,0,0,0,35.8,73.3Z" transform="translate(-2.7 -2.61)"/>
      <path class="cls-4" d="M41.8,94.4a2.05,2.05,0,0,0,2-2,35.88,35.88,0,0,0-3.3-14.5,2,2,0,0,0-3.6,1.6,32.83,32.83,0,0,1,3,12.7A1.93,1.93,0,0,0,41.8,94.4Z" transform="translate(-2.7 -2.61)"/>
    </g>
    
    <circle id="blue-dot-3" class="cls-1 dot left-side" cx="2" cy="89.29" r="2"/>
    <circle id="red-dot-4" class="cls-3 dot left-side" cx="24.6" cy="89.79" r="2"/>
    <circle id="blue-dot-4" class="cls-1 dot" cx="121" cy="86.49" r="2"/>
    <circle id="blue-dot-5" class="cls-1 dot left-side" cx="42.3" cy="61.89" r="2"/>
    <circle id="yellow-dot" class="cls-2 dot left-side" cx="31.1" cy="55.99" r="2"/>
    <circle id="red-dot-1" class="cls-3 dot" cx="63" cy="25.59" r="2"/>
    <circle id="mint-dot-1" class="cls-4 dot left-side" cx="43.2" cy="22.29" r="2"/>
    <circle id="mint-dot-2" class="cls-4 dot" cx="96.3" cy="54.69" r="2"/>
    <circle id="blue-dot-1" class="cls-1 dot" cx="84.3" cy="82.79" r="2"/>
    <circle id="red-dot-2" class="cls-3 dot left-side" cx="17" cy="52.79" r="2"/>
    <circle id="red-dot-3" class="cls-3 dot" cx="70.3" cy="73.89" r="2"/>
    <circle id="blue-dot-2" class="cls-1 dot" cx="79.3" cy="54.29" r="2"/>
    
  </svg>
        </div>
    </section>

    <script type="text/javascript">
        

        // clipboard is a copy event signal...
        
        function clipboard(){
            document.getElementsByClassName('copylink')[0].innerHTML = "Congratulation link is ready for sharing"
        }


        // change like button color and store in database...
        document.getElementsByClassName('likebtn')[0].addEventListener('click', e =>{

            if(document.getElementsByClassName('likebtn')[0].style.color == 'darkslategrey'){
                
                document.getElementsByClassName('likebtn')[0].style.color = 'red';
            
            }else{
                
                document.getElementsByClassName('likebtn')[0].style.color = 'darkslategey';
            } 
            
        });



        if (document.getElementsByClassName('emotion')[0].innerHTML === "Love"){


            document.getElementsByClassName('mood')[0].children[3].style.display = "";
            document.getElementsByClassName('mood')[0].children[3].style.color = 'red';
        }

        if (document.getElementsByClassName('emotion')[0].innerHTML === "Sad"){
            
            document.getElementsByClassName('mood')[0].children[1].style.display = "";
            document.getElementsByClassName('mood')[0].children[1].style.color = 'red';
        }

        if (document.getElementsByClassName('emotion')[0].innerHTML === "Passion"){
            
            document.getElementsByClassName('mood')[0].children[2].style.display = "";
            document.getElementsByClassName('mood')[0].children[2].style.color = 'red';
        }

        if (document.getElementsByClassName('emotion')[0].innerHTML === "Mixed"){
            
            document.getElementsByClassName('fa fa-snownflake')[5].style.display = "";
            document.getElementsByClassName('mood')[0].children[5].style.color = 'blue';
        }


        if (document.getElementsByClassName('emotion')[0].innerHTML === "Dancing"){
            
            document.getElementsByClassName('mood')[0].children[4].style.display = "";
            document.getElementsByClassName('mood')[0].children[4].style.color = 'blue';
        }


        var retina = window.devicePixelRatio,

    // Math shorthands
    PI = Math.PI,
    sqrt = Math.sqrt,
    round = Math.round,
    random = Math.random,
    cos = Math.cos,
    sin = Math.sin,

    // Local WindowAnimationTiming interface
    rAF = window.requestAnimationFrame,
    cAF = window.cancelAnimationFrame || window.cancelRequestAnimationFrame,
    _now = Date.now || function () {return new Date().getTime();};


    // Local WindowAnimationTiming interface polyfill

    (function (w) {

        /**
				* Fallback implementation.
				*/
  
                var prev = _now();
  
                function fallback(fn) {
  
                    var curr = _now();
                    var ms = Math.max(0, 16 - (curr - prev));
                    var req = setTimeout(fn, ms);
                    prev = curr;
                    return req;
                }

                /**
				* Cancel.
				*/
                var cancel = w.cancelAnimationFrame
                    || w.webkitCancelAnimationFrame
                    || w.clearTimeout;

                rAF = w.requestAnimationFrame
                    || w.webkitRequestAnimationFrame
                    || fallback;

                cAF = function(id){
                    cancel.call(w, id);
                };
            }(window));

            document.addEventListener("DOMContentLoaded", function() {
    
                var speed = 50,
                duration = (1.0 / speed),
                confettiRibbonCount = 11,
                ribbonPaperCount = 30,
                ribbonPaperDist = 8.0,
                ribbonPaperThick = 8.0,
                confettiPaperCount = 95,
                DEG_TO_RAD = PI / 180,
                RAD_TO_DEG = 180 / PI,
                colors = [
                     ["#df0049", "#660671"],
                     ["#00e857", "#005291"],
                     ["#2bebbc", "#05798a"],
                     ["#ffd200", "#b06c00"]
                ];

            function Vector2(_x, _y) {
                    this.x = _x, this.y = _y;
                    this.Length = function() {
                    return sqrt(this.SqrLength());
            }

            this.SqrLength = function() {
                     return this.x * this.x + this.y * this.y;
            }

            this.Add = function(_vec) {
                    this.x += _vec.x;
                    this.y += _vec.y;
            }
    
            this.Sub = function(_vec) {
                  this.x -= _vec.x;
                  this.y -= _vec.y;
            }
    
            this.Div = function(_f) {
                    this.x /= _f;
                    this.y /= _f;
            }
    
            this.Mul = function(_f) {
                this.x *= _f;
                this.y *= _f;
            }
    
            this.Normalize = function() {
      
                var sqrLen = this.SqrLength();
      
                if (sqrLen != 0) {
      
                    var factor = 1.0 / sqrt(sqrLen);
      
                    this.x *= factor;
      
                    this.y *= factor;
      
                }
    
            }
    
            this.Normalized = function() {
    
                var sqrLen = this.SqrLength();
    
                if (sqrLen != 0) {
    
                    var factor = 1.0 / sqrt(sqrLen);
    
                    return new Vector2(this.x * factor, this.y * factor);
    
                }
    
                return new Vector2(0, 0);
    
            }
  
        }
  
        Vector2.Lerp = function(_vec0, _vec1, _t) {
  
            return new Vector2((_vec1.x - _vec0.x) * _t + _vec0.x, (_vec1.y - _vec0.y) * _t + _vec0.y);
  
        }
  
        Vector2.Distance = function(_vec0, _vec1) {
  
            return sqrt(Vector2.SqrDistance(_vec0, _vec1));
  
        }
  
        Vector2.SqrDistance = function(_vec0, _vec1) {
  
            var x = _vec0.x - _vec1.x;
  
            var y = _vec0.y - _vec1.y;
  
            return (x * x + y * y + z * z);
  
        }
  
        Vector2.Scale = function(_vec0, _vec1) {
  
            return new Vector2(_vec0.x * _vec1.x, _vec0.y * _vec1.y);
  
        }
  
        Vector2.Min = function(_vec0, _vec1) {
  
            return new Vector2(Math.min(_vec0.x, _vec1.x), Math.min(_vec0.y, _vec1.y));
  
        }
  
        Vector2.Max = function(_vec0, _vec1) {
  
            return new Vector2(Math.max(_vec0.x, _vec1.x), Math.max(_vec0.y, _vec1.y));
  
        }
  
        Vector2.ClampMagnitude = function(_vec0, _len) {
  
            var vecNorm = _vec0.Normalized;
  
            return new Vector2(vecNorm.x * _len, vecNorm.y * _len);
  
        }
  
        Vector2.Sub = function(_vec0, _vec1) {
  
            return new Vector2(_vec0.x - _vec1.x, _vec0.y - _vec1.y, _vec0.z - _vec1.z);
  
        }

  
        function EulerMass(_x, _y, _mass, _drag) {
  
            this.position = new Vector2(_x, _y);
  
            this.mass = _mass;
  
            this.drag = _drag;
  
            this.force = new Vector2(0, 0);
  
            this.velocity = new Vector2(0, 0);
  
            this.AddForce = function(_f) {
  
                this.force.Add(_f);
  
            }
  
            this.Integrate = function(_dt) {
  
                var acc = this.CurrentForce(this.position);
  
                acc.Div(this.mass);
  
                var posDelta = new Vector2(this.velocity.x, this.velocity.y);
  
                posDelta.Mul(_dt);
  
                this.position.Add(posDelta);
  
                acc.Mul(_dt);
  
                this.velocity.Add(acc);
  
                this.force = new Vector2(0, 0);
  
            }
  
            this.CurrentForce = function(_pos, _vel) {
  
                var totalForce = new Vector2(this.force.x, this.force.y);
  
                var speed = this.velocity.Length();
  
                var dragVel = new Vector2(this.velocity.x, this.velocity.y);
  
                dragVel.Mul(this.drag * this.mass * speed);
  
                totalForce.Sub(dragVel);
  
                return totalForce;
  
            }
  
        }

  
        function ConfettiPaper(_x, _y) {
  
            this.pos = new Vector2(_x, _y);
  
            this.rotationSpeed = (random() * 600 + 800);
  
            this.angle = DEG_TO_RAD * random() * 360;
  
            this.rotation = DEG_TO_RAD * random() * 360;
  
            this.cosA = 1.0;
  
            this.size = 5.0;
  
  
            this.oscillationSpeed = (random() * 1.5 + 0.5);
  
            this.xSpeed = 40.0;
  
            this.ySpeed = (random() * 60 + 50.0);
  
            this.corners = new Array();
  
            this.time = random();
  
            var ci = round(random() * (colors.length - 1));
  
            this.frontColor = colors[ci][0];
  
            this.backColor = colors[ci][1];
  
            for (var i = 0; i < 4; i++) {
  
                var dx = cos(this.angle + DEG_TO_RAD * (i * 90 + 45));
  
                var dy = sin(this.angle + DEG_TO_RAD * (i * 90 + 45));
  
                this.corners[i] = new Vector2(dx, dy);
  
            }
  
            this.Update = function(_dt) {
  
                this.time += _dt;
  
                this.rotation += this.rotationSpeed * _dt;
  
                this.cosA = cos(DEG_TO_RAD * this.rotation);
  
                this.pos.x += cos(this.time * this.oscillationSpeed) * this.xSpeed * _dt
  
                this.pos.y += this.ySpeed * _dt;
  
                if (this.pos.y > ConfettiPaper.bounds.y) {
  
                    this.pos.x = random() * ConfettiPaper.bounds.x;
  
                    this.pos.y = 0;
  
                }
  
            }
  
            this.Draw = function(_g) {
  
                if (this.cosA > 0) {
  
                    _g.fillStyle = this.frontColor;
  
                } else {
  
                    _g.fillStyle = this.backColor;
  
                }
  
                _g.beginPath();
  
                _g.moveTo((this.pos.x + this.corners[0].x * this.size) * retina, (this.pos.y + this.corners[0].y * this.size * this.cosA) * retina);
  
                for (var i = 1; i < 4; i++) {
  
                    _g.lineTo((this.pos.x + this.corners[i].x * this.size) * retina, (this.pos.y + this.corners[i].y * this.size * this.cosA) * retina);
  
                }
  
                _g.closePath();
  
                _g.fill();
  
            }
  
        }
  
        ConfettiPaper.bounds = new Vector2(0, 0);

  
        function ConfettiRibbon(_x, _y, _count, _dist, _thickness, _angle, _mass, _drag) {
  
            this.particleDist = _dist;
  
            this.particleCount = _count;
  
            this.particleMass = _mass;
  
            this.particleDrag = _drag;
  
            this.particles = new Array();
  
            var ci = round(random() * (colors.length - 1));
  
            this.frontColor = colors[ci][0];
  
            this.backColor = colors[ci][1];
  
            this.xOff = (cos(DEG_TO_RAD * _angle) * _thickness);
  
            this.yOff = (sin(DEG_TO_RAD * _angle) * _thickness);
  
            this.position = new Vector2(_x, _y);
  
            this.prevPosition = new Vector2(_x, _y);
  
            this.velocityInherit = (random() * 2 + 4);
  
            this.time = random() * 100;
  
            this.oscillationSpeed = (random() * 2 + 2);
  
            this.oscillationDistance = (random() * 40 + 40);
  
            this.ySpeed = (random() * 40 + 80);
  
  
            for (var i = 0; i < this.particleCount; i++) {
  
                this.particles[i] = new EulerMass(_x, _y - i * this.particleDist, this.particleMass, this.particleDrag);
  
            }
  
            this.Update = function(_dt) {
  
                var i = 0;
  
                this.time += _dt * this.oscillationSpeed;
  
                this.position.y += this.ySpeed * _dt;
  
                this.position.x += cos(this.time) * this.oscillationDistance * _dt;
  
                this.particles[0].position = this.position;
  
                var dX = this.prevPosition.x - this.position.x;
  
                var dY = this.prevPosition.y - this.position.y;
  
                var delta = sqrt(dX * dX + dY * dY);
  
                this.prevPosition = new Vector2(this.position.x, this.position.y);
  
                for (i = 1; i < this.particleCount; i++) {
  
                    var dirP = Vector2.Sub(this.particles[i - 1].position, this.particles[i].position);
  
                    dirP.Normalize();
  
                    dirP.Mul((delta / _dt) * this.velocityInherit);
  
                    this.particles[i].AddForce(dirP);
  
                }
  
                for (i = 1; i < this.particleCount; i++) {
  
                    this.particles[i].Integrate(_dt);
  
                }
  
                for (i = 1; i < this.particleCount; i++) {
  
                    var rp2 = new Vector2(this.particles[i].position.x, this.particles[i].position.y);
  
                    rp2.Sub(this.particles[i - 1].position);
  
                    rp2.Normalize();
  
                    rp2.Mul(this.particleDist);
  
                    rp2.Add(this.particles[i - 1].position);
  
                    this.particles[i].position = rp2;
  
                }
  
                if (this.position.y > ConfettiRibbon.bounds.y + this.particleDist * this.particleCount) {
  
                    this.Reset();
  
                }
  
            }
  
            this.Reset = function() {
  
                this.position.y = -random() * ConfettiRibbon.bounds.y;
  
                this.position.x = random() * ConfettiRibbon.bounds.x;
  
                this.prevPosition = new Vector2(this.position.x, this.position.y);
  
                this.velocityInherit = random() * 2 + 4;
  
                this.time = random() * 100;
  
                this.oscillationSpeed = random() * 2.0 + 1.5;
  
                this.oscillationDistance = (random() * 40 + 40);
  
                this.ySpeed = random() * 40 + 80;
  
                var ci = round(random() * (colors.length - 1));
  
                this.frontColor = colors[ci][0];
  
                this.backColor = colors[ci][1];
  
                this.particles = new Array();
  
                for (var i = 0; i < this.particleCount; i++) {
  
                    this.particles[i] = new EulerMass(this.position.x, this.position.y - i * this.particleDist, this.particleMass, this.particleDrag);
  
                }
  
            };
    
            this.Draw = function(_g) {
    
                for (var i = 0; i < this.particleCount - 1; i++) {
    
                    var p0 = new Vector2(this.particles[i].position.x + this.xOff, this.particles[i].position.y + this.yOff);

                    var p1 = new Vector2(this.particles[i + 1].position.x + this.xOff, this.particles[i + 1].position.y + this.yOff);

                    if (this.Side(this.particles[i].position.x, this.particles[i].position.y, this.particles[i + 1].position.x, this.particles[i + 1].position.y, p1.x, p1.y) < 0) {

                        _g.fillStyle = this.frontColor;

                        _g.strokeStyle = this.frontColor;

                    } else {

                        _g.fillStyle = this.backColor;

                        _g.strokeStyle = this.backColor;

                    }

                    if (i == 0) {
          
                        _g.beginPath();
          
                        _g.moveTo(this.particles[i].position.x * retina, this.particles[i].position.y * retina);
          
                        _g.lineTo(this.particles[i + 1].position.x * retina, this.particles[i + 1].position.y * retina);
          
                        _g.lineTo(((this.particles[i + 1].position.x + p1.x) * 0.5) * retina, ((this.particles[i + 1].position.y + p1.y) * 0.5) * retina);
          
                        _g.closePath();
          
                        _g.stroke();
          
                        _g.fill();
          
                        _g.beginPath();
          
                        _g.moveTo(p1.x * retina, p1.y * retina);
          
                        _g.lineTo(p0.x * retina, p0.y * retina);
          
                        _g.lineTo(((this.particles[i + 1].position.x + p1.x) * 0.5) * retina, ((this.particles[i + 1].position.y + p1.y) * 0.5) * retina);
          
                        _g.closePath();
          
                        _g.stroke();
          
                        _g.fill();
        
                    } else if (i == this.particleCount - 2) {
          
                        _g.beginPath();
          
                        _g.moveTo(this.particles[i].position.x * retina, this.particles[i].position.y * retina);
          
                        _g.lineTo(this.particles[i + 1].position.x * retina, this.particles[i + 1].position.y * retina);
          
                        _g.lineTo(((this.particles[i].position.x + p0.x) * 0.5) * retina, ((this.particles[i].position.y + p0.y) * 0.5) * retina);
          
                        _g.closePath();
          
                        _g.stroke();
          
                        _g.fill();
          
                        _g.beginPath();
          
                        _g.moveTo(p1.x * retina, p1.y * retina);
          
                        _g.lineTo(p0.x * retina, p0.y * retina);
          
                        _g.lineTo(((this.particles[i].position.x + p0.x) * 0.5) * retina, ((this.particles[i].position.y + p0.y) * 0.5) * retina);
          
                        _g.closePath();
          
                        _g.stroke();
          
                        _g.fill();
        
                    } else {
        
                        _g.beginPath();
        
                        _g.moveTo(this.particles[i].position.x * retina, this.particles[i].position.y * retina);
        
                        _g.lineTo(this.particles[i + 1].position.x * retina, this.particles[i + 1].position.y * retina);
        
                        _g.lineTo(p1.x * retina, p1.y * retina);
        
                        _g.lineTo(p0.x * retina, p0.y * retina);
        
                        _g.closePath();
        
                        _g.stroke();
        
                        _g.fill();
        
                    }
      
                }
    
            }
    
            this.Side = function(x1, y1, x2, y2, x3, y3) {
    
                return ((x1 - x2) * (y3 - y2) - (y1 - y2) * (x3 - x2));
    
            }
  
        }
  
        ConfettiRibbon.bounds = new Vector2(0, 0);
  
        confetti = {};
  
        confetti.Context = function(id) {
  
            var i = 0;
  
            var canvas = document.getElementById(id);
  
            var canvasParent = canvas.parentNode;
  
            var canvasWidth = canvasParent.offsetWidth;
  
            var canvasHeight = canvasParent.offsetHeight;
  
            canvas.width = canvasWidth * retina;
  
            canvas.height = canvasHeight * retina;
  
            var context = canvas.getContext('2d');
  
            var interval = null;
  
            var confettiRibbons = new Array();
  
            ConfettiRibbon.bounds = new Vector2(canvasWidth, canvasHeight);
  
            for (i = 0; i < confettiRibbonCount; i++) {
  
                confettiRibbons[i] = new ConfettiRibbon(random() * canvasWidth, -random() * canvasHeight * 2, ribbonPaperCount, ribbonPaperDist, ribbonPaperThick, 45, 1, 0.05);
  
            }
  
            var confettiPapers = new Array();
  
            ConfettiPaper.bounds = new Vector2(canvasWidth, canvasHeight);
  
            for (i = 0; i < confettiPaperCount; i++) {
      
                confettiPapers[i] = new ConfettiPaper(random() * canvasWidth, random() * canvasHeight);
    
            }
    
            this.resize = function() {
    
                canvasWidth = canvasParent.offsetWidth;
    
                canvasHeight = canvasParent.offsetHeight;
    
                canvas.width = canvasWidth * retina;
    
                canvas.height = canvasHeight * retina;
    
                ConfettiPaper.bounds = new Vector2(canvasWidth, canvasHeight);
    
                ConfettiRibbon.bounds = new Vector2(canvasWidth, canvasHeight);
    
            }
    
            this.start = function() {
    
                this.stop()
    
                var context = this;
    
                this.update();
    
            }
    
            this.stop = function() {
    
                cAF(this.interval);
    
            }
    
            this.update = function() {
    
                var i = 0;
    
                context.clearRect(0, 0, canvas.width, canvas.height);
    
                for (i = 0; i < confettiPaperCount; i++) {
    
                    confettiPapers[i].Update(duration);
    
                    confettiPapers[i].Draw(context);
    
                }
    
                for (i = 0; i < confettiRibbonCount; i++) {
    
                    confettiRibbons[i].Update(duration);
    
                    confettiRibbons[i].Draw(context);
    
                }
    
                this.interval = rAF(function() {
    
                    confetti.update();
    
                });
    
            }
  
        };
  
        var confetti = new confetti.Context('confetti');
  
        confetti.start();
  
        window.addEventListener('resize', function(event){
  
            confetti.resize();
  
        });

    });

    document.getElementsByClassName('btn-link')[0].addEventListener('click', (e) =>{
        
        if (document.getElementsByClassName('_a002')[0].style.display === 'none' ){
            document.getElementsByClassName('_a002')[0].style.display = '';
            document.getElementsByClassName('btn-link')[0].style.display = 'none';
        }
    });

    document.getElementsByClassName('icomment')[0].addEventListener('change', (e) =>{


        if (document.getElementsByClassName('icomment')[0].value.length > 10){
            alert('Comment should not be greater than 10 words')
        }
    });
    </script>
</body>
</html>