<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Roombot</title>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.js"
            integrity="sha512-aPhrlLlp7Mr8g+MVw6/wMD8PjqqzRNhSM8pHDyyJPmUTJMzKxMmxrjauzQforOaAegN3CIKUTKXJyLwFD57RtA=="
            crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <h4 style="position: relative;top: 12pc;left: 8pc;width: 16pc;height: 20pc;border: 1px dotted darkslategray;box-shadow: 9px 9px;"> {{query}} </h4>
        <p style="position: relative;top: -5pc;left: 35pc;width: 19pc;height: 20pc;border: 1px dotted slategray;box-shadow: 7px 7px;">
            {{response}}
        </p>
    </div>
</body>
</html>